header{
	text-align: left;
}

.logo{
	float: left;
	margin: 10px 10px 0px 40px;
}

.nav-content {
	padding: 10px;
	float: right;
	margin: 5px 40px 5px 5px;
}

.navigation{
	float: right;
	margin: 0;
	padding: 0;
}

nav {
	color: black;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
}


li{
	display: inline;
	text-decoration: none;
	padding: 0 20px 0 20px;
	margin: none;
}

a { color: black; text-decoration: none;} 
a:visited { color: black; text-decoration: none;} 
a:hover { color: #A00; text-decoration: none;} 
a:active { color: #ccc; text-decoration: none; } 


body{
	font-family: lato; 
	margin: 0px;
	width: 100%;
}

.firstcharacter { 
	float: left; 
	color: #DDD; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 0px; }

article{
	margin: 0px 100px 0px 100px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 30px;
}

img{
	max-width: 100%;
	margin: none;
	padding: none;
}

h1{
	margin: 40px 40px 0 40px;
}

h1 a{
	color: #D00;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	font-size: 56px;
	text-decoration: none;
}


h2{
	font-weight: lighter;
	font-size: 24px;
	margin: 0 40px 40px 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #DDD;
	font-style: italic;
}


h3{
	font-weight: lighter;
	color: #ccc;
	font-size: 24px;
	margin-top: 40px;
}

h2 a{
	color: #444;
	text-decoration: none;
	font-size: 36px;
	line-height: 0px;
}

h4 {
	text-align: right;
	text-decoration: none;
}

h4 a{
	text-decoration: none;
}

h5{
	font-weight: lighter;
	font-size: 24px;
	font-style: bold;
}

article h5{
	margin: none;
}

footer nav{
	margin-top: 20px;
	text-decoration: none;
	background: #ccc;
}

footer nav a{
	margin-top: 20px;
	color: black;
	text-decoration: none;
	font-size: 16px;
}


footer p{
	font-size: 12px;
	background: black;
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

p{
	line-height: 30px;
}

footer ul {
	padding: 0px;
	margin: 0px;
	color: white;
	background-color: black;
}

footer li{
	padding: 0px;
	color: white;
}

footer li a { color: white; text-decoration: none;} 
footer li a:visited { color: white; text-decoration: none;} 
footer li a:hover { color: #A00; text-decoration: none;} 
footer li a:active { color: white; text-decoration: none; } 

.footer {
	background: black;
	padding: 10px;
}